<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title  }}</title>
<style type="text/css">
body {
	color: #444;
	line-height: 1.6;
	font-size: 18px;
	margin:40px auto;
	max-width: 650px;
	padding: 0 10px;
}

h1, h2, h3 {
	line-height: 1.2;
}

footer, footer a {
	color: #999;
	font-size: x-small;
	margin-top: 4em;
	text-align: center;
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
}
</style>
</head>
<body>
	<article>
		{{ content }}
	</article>

	<footer>
		<a href="https://leclan.ch/">Jerome @ Leclanche</a>
	</footer>
</body>
</html>
